@page "/counter"

<div class="container">
    <h1>Counter</h1>
    <div class="row">
        <div class="col-6">
            <p>Current count: @currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        </div>
        <div class="col-6">
            <p>Current Square: @currentSquare</p>

            <button class="btn btn-info" @onclick="SquareCount">Square it</button>
        </div>
    </div>
</div>


@code {
    private int currentCount = 0;
    private int currentSquare = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void SquareCount()
    {
        currentSquare = currentCount * currentCount;
    }
}
