<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorSignalRApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-terminal" aria-hidden="true"></span> QwkChat
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="oi oi-calendar" aria-hidden="true"></span> TEC4
            </NavLink>
            <ul id="calMenu" class="collapse" style="@calMenuDisplay">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/addEvent">
                        <span class="oi oi-plus" aria-hidden="true"></span> Add event
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/recommend">
                        <span class="oi oi-bell" aria-hidden="true"></span> Recommendations
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/notify">
                        <span class="oi oi-bell" aria-hidden="true"></span> Notifications
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                        <span class="oi oi-calculator" aria-hidden="true"></span> Calendar control placeholder
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/print">
                        <span class="oi oi-print" aria-hidden="true"></span> Print
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/export">
                        <span class="oi oi-arrow-thick-left" aria-hidden="true"></span> Export
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/default">
                        <span class="oi oi-check" aria-hidden="true"></span> Set Default Calendar
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/legend">
                        <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Legend
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/outlook">
                        <span class="oi oi-share-boxed" aria-hidden="true"></span> Open in Outlook
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendar/settings">
                        <span class="oi oi-signpost" aria-hidden="true"></span> Settings
                    </NavLink>
                </li>
            </ul>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }

    private string calMenuDisplay = "visibility:hidden;";

    private void displayCalMenu(bool showIt)
    {
        calMenuDisplay = showIt ? "visibility:visible;" : "visibility:hidden;";
    }
}
